@model Bookstore.Models.BookDetail

@{
    ViewBag.Title = "Details";
}

<h2>Book Details</h2>

<div>
   
    
    <dl class="table" id="table">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfBook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookTypeAsString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFiction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFiction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNewRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNewRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBestSeller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBestSeller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }, htmlAttributes: new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "Index", "Home", htmlAttributes: new { @class = "btn btn-info" })
</p>
