@model Bookstore.Models.BookDescription
@{
    ViewBag.Title = "Description";
}

<h2>Description</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTypeAsString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFiction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFiction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBestSeller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBestSeller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsNewRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNewRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Cart", "Index", "Cart", htmlAttributes: new { @class = "btn btn-info" })
    @Html.ActionLink("Continue Shopping", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-info" })
</p>
