<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Italianno|Special+Elite" rel="stylesheet">

    <title>@ViewBag.Title - The Bibliotaph's Sanctum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-img">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Best Sellers", "Index", "Home", null, new { href = "#bestsellers" })</li>
                        <li>@Html.ActionLink("New Releases", "Index", "Home", null, new { href = "#newreleases" })</li>
                        <li>@Html.ActionLink("Teen & Young Adult", "Index", "Home", null, new { href = "#youngadult" })</li>
                        <li>@Html.ActionLink("Children's", "Index", "Home", null, new { href = "#children" })</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Books", "Index", "Book")</li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Shopping Cart", "Index", "Cart")</li>

                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>


    <div class="container">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
